@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    color: #333;
    line-height: 1;
}

header {
    width: 1280px;
    height: 100px;
    margin: 0 auto;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 20px;
    font-weight: bold;

}

header nav ul {
    display: flex;

}

header nav ul li a {
    padding: 0 20px;
}

header .login {
    display: flex;

}

header .login li a {
    padding: 0 10px;
}

/**************************** .main_visual ****************************/

.main_visual {
    height: 600px;
    position: relative;
}

.main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_visual div {
    width: 1280px;
    /* background-color: aqua; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.main_visual div h2 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 10px;

}

.main_visual div p {
    font-size: 22px;
    margin-bottom: 40px;
}

.main_visual div a {
    display: block;
    width: 120px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #f00;
    color: #fff;
}

/* .cont01 */
.cont01 {
    background-color: rgb(255, 236, 214);
    padding: 100px 0;

}

.cont01 .inner {
    width: 1280px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cont01 .inner figure {
    width: 420px;
    height: 100%;
}

.cont01 .inner figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont01 .inner div {
    width: 420px;
    /* background-color: #f00; */

}

.cont01 .inner h4 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;

}

.cont01 .inner div a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 30px;
    background-color: rgb(255, 208, 154);
    color: #fff;
}