@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    color: #333;
    line-height: 1;
}

/* 모바일 */
.mobile {
    display: none;
}

.mobile_gnb {
    display: none;
}

/* header */
header {
    position: absolute;
    width: calc(100% - 60px);
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    z-index: 99;
}

header div {
    max-width: 1280px;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div h1 a img{
    height: 70px;
    margin-bottom: 10px;
}
    

header div .pc_gnb {
    height: 100%;
}

header div .pc_gnb>ul {
    display: flex;
    /* align-items: center; */
}

header div .pc_gnb>ul>li>a {
    display: block;
    padding: 0 40px;
    line-height: 100px;
    font-size: 17px;
    font-weight: bold;
}

header div .pc_gnb .sub_menu {
    position: relative;
    z-index: 1;
    background-color: #fff;
    text-align: center;
    padding: 20px 0;
    display: none;
}

header div .pc_gnb .sub_menu li {
    line-height: 3;
}

header div .pc_gnb>ul>li:hover .sub_menu {
    display: block;
}

/* main_visual */

.main_visual {
    height: 80vh;
    position: relative;
}

.main_visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_visual div {
    max-width: 1280px;
    width: 95%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.main_visual div h2 {
    font-size: 50px;
    font-weight: bold;
}

.main_visual div p {
    font-size: 20px;
    margin: 10px 0 30px;
}

.main_visual div a {
    display: inline-block;
    line-height: 38px;
    height: 40px;
    background-color: #fff;
    color: #333;
    padding: 0 40px;
    border-radius: 20px;

}
/* main_visual end */

/* cont01 */
.cont01 {
    background-color: rgb(252, 190, 97);
    padding: 100px 0;
    
}

.cont01 .inner{
    max-width: 1280px;
    width: 100%;
    height: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cont01 .inner figure{
    width: 640px;
    height: 100%;
}

.cont01 .inner figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cont01 .inner div {
    width: 580px;
    
}
.cont01 .inner h4 {
    font-size: 25px;
    font-weight: bold;
    color: rgb(148, 83, 8);
    margin-bottom: 20px;
}
.cont01 .inner p {
    color: rgb(201, 119, 12);
}

.cont01 .inner div a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 153, 0);
    border-radius: 10px;
    
}
.cont02{
    background-color: rgb(249, 250, 206);
    height: 800px;
}


/* cont01 end */

/* 뷰포인트 1024px이하일때 스타일적용 */
@media screen and (max-width:1024px) {
    header {
        /* background-color: transparent; */
        /* transparent 투명 */
    }

    header div {
        width: 98%;
        height: 80px;
    }
    header div h1 a img{
        height: 70px;
        margin-top: 10px;
    }

    header div .pc_gnb {
        display: none;

    }

    .mobile {
        display: block;

    }

    .mobile span {
        position: absolute;
        left: -9999999999999px;
    }

    /* .mobile:hover .mobile_gnb {
        display: block;
    } */



    .xi-bars {
        font-size: 40px;
        color: rgb(60, 37, 189);
    }

    .xi-bars:hover .mobile_gnb {
        display: block;
        background-color: #fff;
        z-index: 1;
    }

    



}



/* 1024px */

/* 뷰포트 767px이하일때부터 스타일 적용 */
@media screen and (max-width:767px) {
    header {
        width: calc(100%-20px);
        top: 10px;
        background-color: rgb(255, 255, 255);
    }


    .main_visual div h2 {
        font-size: 30px;
    }

    .xi-bars {
        font-size: 40px;
        color: #333;
    }

}